/* Blue Collar Depot - CSS */

/* universal */

aside,
details,
footer,
header,
nav,
section {
  display: block;
}

html {
  overflow-y: auto;
  /*padding-top: 0;*/
  /*margin-top: 0;*/
}

body {
  /*width: 100%;*/
  margin: 0;
  padding: 0;
  /*font-family: ;
  color: ;
  background-color: ;*/
}

section {
  overflow: auto;
}

/*textarea {
  resize: vertical;
}*/

img {
  /*max-width: 100%;*/
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* typography */

html {
  font-size: 16px;
  text-align: left;
}

body {
  font-size: 62.5%; /* 10px */
}

h1, h2, h3, h4, h5, h6 {
 /* color: ;
  font-family: ;*/
  font-weight: bold;
  text-rendering: optimizelegibility;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

p {
 /* color: ;
  font-family: ;*/
  font-size: 1.2em;
  line-height: 1.5em;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 1.7em;
  line-height: 2em;
  letter-spacing: -1px;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
  /*text-align: left;*/
  font-weight: normal;
}

h2 {
  font-size: 1.7em;
  line-height: 1.8em;
  letter-spacing: -1px;
  /*text-align: left;*/
  font-weight: normal;
  /*color: ;*/
  /*display: block;*/
}

h3 {
  font-size: 1.4em;
  line-height: 1.6em;
  /*color: ;*/
  font-weight: normal;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

h4,
h5,
h6 {
  font-size: 1.3em;
  line-height: 1.5em;
}

p {
  margin: 0 0 0.5em 0;
  padding: 0 0 0.3em 0;
  /*font-size: 1.1em;*/
  /*line-height: 1.1em;*/
}

ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

li {
  margin: 0 0 0.1em 0;
  padding: 0 0 0.1em 0;
  /*line-height: 1.3em;*/
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: 80%;
  /*color: ;*/
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* General */

.container {
  width: 1000px; /* TODO: Find correct width */
  margin: 0 auto;
}


.shadowBottomOuter {
  -webkit-box-shadow: 0 3px 3px 2px #999;
     -moz-box-shadow: 0 3px 3px 2px #999;
          box-shadow: 0 3px 3px 2px #999;
  /*TODO: make compatible with ie; http://css-tricks.com/snippets/css/css-box-shadow/ */
}

.shadowBottomInner {
  -webkit-box-shadow: inset 0 -4px 4px -2px #999;
     -moz-box-shadow: inset 0 -4px 4px -2px #999;
          box-shadow: inset 0 -4px 4px -2px #999;
  /*TODO: make compatible with ie; */
}

/* Header */

header {
  border-bottom: 4px solid #D22D7A;
  /*TODO: get right color and size; */
}

/* Navigation */

/*nav {
  display: inline-block;
}*/

nav ul, nav li {
  padding: 0;
  margin: 0;
  list-style: none;
  /*float: left;*/
  display: inline-block;
}

/* Top navigation */

.navSeparator:after {
  margin: 0 0 0 0.6em;
  content: '|';
}

/*.cartIcon {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  background-color: gray; /* TODO: Add cart icon *\/
  display: inline-block;
  vertical-align: middle;
}*/

.navTop {
  text-align: right;
  /*display: block;*/
  /*background-color: black;*/
}

.navTop li  {
  /* BUG: space inbetween li's */
  /*float:left;*/
  margin: 0;
  padding: 0.8em 0.1em;
  display:inline-block;
  /*background-color: blue;*/
  font-size: 1.1em;
}

.navTop a:link {
  /*TODO: edit colors*/
  color: black;
  text-decoration: none;
}

.navTop a:visited {
  color: purple;
  text-decoration: none;
}

.navTop a:hover {
  color: gray;
  text-decoration: none;
}

.navTop a:active {
  text-decoration: none;
}

/* Big Link navigation */

.navBigLinks {
  /*display:inline-block;*/
  font-family: arial; /*TODO: get right font;*/
  /*text-align: right;*/
}

.navBigLinks a:link {
  color: #333; /*TODO: get right colors*/
  text-decoration: none;
}

.navBigLinks a:visited {
  color: #333; /*TODO: get right colors*/
  text-decoration: none;
}

.navBigLinks a:hover {
  color: #111; /*TODO: get right colors*/
  text-decoration: none;
}

.navBigLinks a: active {
  text-decoration: none;
}

.navBigLinks {
  text-align: right;
  padding-right: 12px;
  /*display: block;*/
  /*background-color: black;*/
}

.navBigLinks a {
  display: inline-block;
  /*height: 100%;*/
  /*vertical-align: middle;*/
}

.navBigLinks li {
  width: 180px;
  /*height: 40px;*/
  margin: 0;
  padding: 0.3em 0.1em;
  /*height: 60px;*/
  /*display: inline-block;*/
  font-size: 1em;
  text-align: center;
  /*vertical-align: bottom;*/
}

.navBigLinks h4 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  line-height: 1em;
  white-space:nowrap;
  letter-spacing: -0.1em;
  /*TODO: figure out how to squeeze text */
}

.bigLinkBox {
  /*height: 100%;*/
  display: inline-block;
  vertical-align: middle;
}

.bigLinkIcon {
  width: 30px;
  height: 30px;
  /*vertical-align: middle;*/
  background-color: blue; /* TODO: remove after adding image;*/
  display: inline-block;
}

.checkoutButton {
  margin-left: 5px; 
  padding: 0.2em 0.5em;
  background-color: #FF4300; /*TODO: get right color;*/
  color: white;
  border: 1px solid #C0481D;
  border-radius: 0.8em; 
  /*TODO: add white gradient;*/
}

.checkoutButton h4 {
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;
}

a:link .checkoutButton {
  /*TODO: edit colors*/
  text-decoration: none;
}

a:visited .checkoutButton {
  text-decoration: none;
}

a:hover .checkoutButton {
  text-decoration: none;
  background-color: #C0481D;
  color: #999;
}

a:active .checkoutButton {
  text-decoration: none;
}

.returnIcon {
  /*TODO: add image;*/
}

.moneyIcon {
  /*TODO: add image;*/
}

.basketIcon {
  /*TODO: add image;*/
}

/* Menu navigation */

.navMenu, .navBigLinks li {
  border: 1px solid #555;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.navMenu li {
  /*width: 180px;*/
  /*height: 40px;*/
  /*margin: 0;
  padding: 1em 1em;*/
  /*height: 60px;*/
  /*display: inline-block;*/
  /*font-size: 1em;*/
  text-align: center;
  
  /*vertical-align: bottom;*/
}

.navMenu h2 {
  font-size: 1.6em;
  line-height: 1em;
  font-family: arial;
  margin: 0;
  padding: 0.8em 0.8em;
  color: #444; /*TODO: get right colors*/
  /*TODO: get right font and color;*/
}

.navMenu a:link {
  text-decoration: none;
}

.navMenu a:visited {
  color: #333; /*TODO: get right colors*/
  text-decoration: none;
}

.navMenu a:hover {
  color: #111; /*TODO: get right colors*/
  text-decoration: none;
}

.navMenu a:active {
  text-decoration: none;
}

.navMenu .current h2 {
  background-color: #2E66CC;
  outline: 1px solid #20338E;
  color: white;
  /*TODO: add gradient;*/
}

/*.navMenuSeparator {

}*/

/* Logo */

.topLogo {
  /*width: 200px;
  height: 150px;*/
  background-color: gray; /* TODO: add image bg; */
  float: left;
}

.topLogo a {
  width: 200px;
  height: 125px;
  display: inline-block;
}

.phoneNumber {
  margin: 20px 0 20px;
  padding: 0;
  text-align: right;
  font-size: 1.8em;
  color: #444;
  /* TODO: Add right font and color; */
}

/* Content */

.content {
  vertical-align: top;
}

/* Sub menu */

.sidebar {
  width: 200px;
  /*display: inline-block;*/
  float: left;
}

.sidebar h3 {
  text-transform: uppercase;

}

/* View */

.viewContainer {
  width: 760px;
  display: inline-block;
}